table {
    text-align: left;
}
.anunciant {
    width: 10%;
    font-weight: bold;
}
.img-responsive {
    width: 100%;
}
iframe {
    width: 100%;
    height: 50vh;
}
.div-center {
    margin:auto;
    margin-top: 50px;
}