.butonera a {
    margin:auto;
}

.card-img-top {
    width: 100%;
}
@media (max-width:330px) {
    .card-columns {
        column-count: 1;
    }
}
@media (min-width:330px) and (max-width: 600px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .card-columns {
        column-count: 3;
    }
}
@media (min-width: 900px) {
    .card-columns {
        column-count: 6;
    }
}